In [1]:
import pandas as pd
import numpy as np
import requests
from pandas.io.json import json_normalize
from flatten_json import flatten
from datetime import date

# Requesting data

# Santiago - CL

In [2]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Santiago"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
santiago_3 = pd.DataFrame(dic_flatten).reset_index()
santiago_3.head()
santiago_3.shape

(715, 11)

In [13]:
# Feb
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Santiago"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
santiago_2 = pd.DataFrame(dic_flatten).reset_index()
santiago_2.head()
santiago_2.shape

(654, 11)

## Madrid - ES

In [14]:
# Madrid
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Madrid"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
madrid_3 = pd.DataFrame(dic_flatten).reset_index()
madrid_3.head()
madrid_3.shape

(5000, 11)

In [6]:
# Fevereiro
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Madrid"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
madrid_2 = pd.DataFrame(dic_flatten).reset_index()
madrid_2.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,Madrid,40.251940,-4.274720,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1810A,co,µg/m³,1100
1,1,Madrid,40.421667,-3.682222,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES0118A,co,µg/m³,1000
2,2,Madrid,40.286940,-3.222220,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1806A,co,µg/m³,500
3,3,Madrid,40.666390,-3.772220,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1613A,co,µg/m³,800
4,4,Madrid,40.419167,-3.703333,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1422A,co,µg/m³,1000

In [7]:
madrid_2.shape

(5000, 11)

## Dheli - India

In [8]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Delhi"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
dheli_3 = pd.DataFrame(dic_flatten).reset_index()
dheli_3.head()
dheli_3.shape

(5000, 11)

In [9]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Delhi"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
dheli_2 = pd.DataFrame(dic_flatten).reset_index()
dheli_2.head()
dheli_2.shape

(5000, 11)

## Lisbon - PT

In [10]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Lisboa"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
lisbon_3 = pd.DataFrame(dic_flatten).reset_index()
lisbon_3.head()
lisbon_3.shape

(3161, 11)

In [11]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Lisboa"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
lisbon_2 = pd.DataFrame(dic_flatten).reset_index()
lisbon_2.head()
lisbon_2.shape

(3158, 11)

## New York - US

In [12]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "New York-Northern New Jersey-Long Island"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
new_york_2 = pd.DataFrame(dic_flatten).reset_index()
new_york_2.head()
# new_york_2.shape

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.641441,-74.208366,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Elizabeth Trailer,co,ppm,0.20
1,1,New York-Northern New Jersey-Long Island,40.853550,-73.966100,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Fort Lee Near Road,co,ppm,0.20
2,2,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Newark Firehouse,co,ppm,0.35
3,3,New York-Northern New Jersey-Long Island,40.731689,-74.066566,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Jersey City,co,ppm,0.50
4,4,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-02-28T18:00:00-05:00,2020-02-28T23:00:00.000Z,Newark Firehouse,co,ppm,0.30

In [17]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "New York-Northern New Jersey-Long Island"
measure = "co"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
new_york_3 = pd.DataFrame(dic_flatten).reset_index()
new_york_3.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.853550,-73.966100,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Fort Lee Near Road,co,ppm,0.20
1,1,New York-Northern New Jersey-Long Island,40.641441,-74.208366,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Elizabeth Trailer,co,ppm,0.30
2,2,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Newark Firehouse,co,ppm,0.26
3,3,New York-Northern New Jersey-Long Island,40.641441,-74.208366,US,2020-03-30T18:00:00-05:00,2020-03-30T23:00:00.000Z,Elizabeth Trailer,co,ppm,0.30
4,4,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-03-30T18:00:00-05:00,2020-03-30T23:00:00.000Z,Newark Firehouse,co,ppm,0.33

In [19]:
# new_york_3.shape
new_york = pd.concat([new_york_3, new_york_2])
new_york.shape
new_york = new_york.apply(lambda x: x*1000 if x.name in ['value'] else x)
new_york.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.853550,-73.966100,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Fort Lee Near Road,co,ppm,200.0
1,1,New York-Northern New Jersey-Long Island,40.641441,-74.208366,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Elizabeth Trailer,co,ppm,300.0
2,2,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Newark Firehouse,co,ppm,260.0
3,3,New York-Northern New Jersey-Long Island,40.641441,-74.208366,US,2020-03-30T18:00:00-05:00,2020-03-30T23:00:00.000Z,Elizabeth Trailer,co,ppm,300.0
4,4,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-03-30T18:00:00-05:00,2020-03-30T23:00:00.000Z,Newark Firehouse,co,ppm,330.0

In [40]:
# new_york['unit'] = data['unit'].str.replace('ppm', 'µg/m³')

## Concateneting

In [20]:
data = pd.concat([madrid_3,madrid_2, dheli_3, dheli_2, lisbon_3, lisbon_2, santiago_2, santiago_3, new_york])

In [21]:
data.shape

# data.loc[[city] == 'New York-Northern New Jersey-Long Island']

(32474, 11)

In [23]:
# saving
data.to_csv('data/openaq_co.csv')