In [1]:
import pandas as pd
import numpy as np
import requests
from pandas.io.json import json_normalize
from flatten_json import flatten
from datetime import date

# Requesting data

# Santiago - CL

In [21]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Santiago"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
santiago_3 = pd.DataFrame(dic_flatten).reset_index()
santiago_3.head()
santiago_3.shape

(0, 1)

In [22]:
# Feb
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Santiago"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
santiago_2 = pd.DataFrame(dic_flatten).reset_index()
santiago_2.head()
# santiago_2.shape

Empty DataFrame
Columns: [index]
Index: []

## Madrid - ES

In [4]:
# Madrid
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Madrid"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
madrid_3 = pd.DataFrame(dic_flatten).reset_index()
madrid_3.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,Madrid,40.63389,-4.01333,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1803A,so2,µg/m³,1
1,1,Madrid,40.25194,-4.27472,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1810A,so2,µg/m³,1
2,2,Madrid,40.91028,-3.46667,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1802A,so2,µg/m³,1
3,3,Madrid,40.47917,-3.37778,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1563A,so2,µg/m³,3
4,4,Madrid,40.32417,-3.87639,ES,2020-03-30T03:00:00+02:00,2020-03-30T01:00:00.000Z,ES1568A,so2,µg/m³,1

In [5]:
madrid_3.shape

(5000, 11)

In [6]:
# Fevereiro
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Madrid"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
madrid_2 = pd.DataFrame(dic_flatten).reset_index()
madrid_2.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,Madrid,40.408056,-3.645278,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1426A,so2,µg/m³,10
1,1,Madrid,40.633890,-4.013330,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1803A,so2,µg/m³,2
2,2,Madrid,40.910280,-3.466670,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1802A,so2,µg/m³,1
3,3,Madrid,40.324170,-3.876390,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1568A,so2,µg/m³,2
4,4,Madrid,40.251940,-4.274720,ES,2020-02-29T01:00:00+01:00,2020-02-29T00:00:00.000Z,ES1810A,so2,µg/m³,1

In [7]:
madrid_2.shape

(5000, 11)

## Dheli - India

In [8]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Delhi"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
dheli_3 = pd.DataFrame(dic_flatten).reset_index()
dheli_3.head()
dheli_3.shape

(5000, 11)

In [9]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Delhi"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
dheli_2 = pd.DataFrame(dic_flatten).reset_index()
dheli_2.head()
dheli_2.shape

(5000, 11)

## Lisbon - PT

In [10]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Lisboa"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
lisbon_3 = pd.DataFrame(dic_flatten).reset_index()
lisbon_3.head()
lisbon_3.shape

(1836, 11)

In [11]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "Lisboa"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
lisbon_2 = pd.DataFrame(dic_flatten).reset_index()
lisbon_2.head()
lisbon_2.shape

(2199, 11)

## New York - US

In [12]:
begin = date(2020,2,1)
end = date(2020,2,29)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "New York-Northern New Jersey-Long Island"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
new_york_2 = pd.DataFrame(dic_flatten).reset_index()
new_york_2.head()
# new_york_2.shape

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.731689,-74.066566,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Jersey City,so2,ppm,0.0
1,1,New York-Northern New Jersey-Long Island,40.641441,-74.208366,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Elizabeth Trailer,so2,ppm,0.0
2,2,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Newark Firehouse,so2,ppm,0.0
3,3,New York-Northern New Jersey-Long Island,40.670250,-74.126083,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Bayonne,so2,ppm,0.0
4,4,New York-Northern New Jersey-Long Island,40.787628,-74.676300,US,2020-02-28T19:00:00-05:00,2020-02-29T00:00:00.000Z,Chester,so2,ppm,0.0

In [13]:
begin = date(2020,3,1)
end = date(2020,3,31)

api_string = "https://api.openaq.org/v1/measurements?city={city}&parameter={measure}&date_from={fromdate}&date_to={todate}&limit=5000"
city = "New York-Northern New Jersey-Long Island"
measure = "so2"

response = requests.get(api_string.format(city=city,measure=measure,fromdate=begin,todate=end)).json()
response

dic_flatten = [flatten(d) for d in response['results']]
dic_flatten
new_york_3 = pd.DataFrame(dic_flatten).reset_index()
new_york_3.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.641441,-74.208366,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Elizabeth Trailer,so2,ppm,0.000
1,1,New York-Northern New Jersey-Long Island,40.731689,-74.066566,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Jersey City,so2,ppm,0.001
2,2,New York-Northern New Jersey-Long Island,40.670250,-74.126083,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Bayonne,so2,ppm,0.000
3,3,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Newark Firehouse,so2,ppm,0.000
4,4,New York-Northern New Jersey-Long Island,40.787628,-74.676300,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Chester,so2,ppm,0.000

In [14]:
new_york = pd.concat([new_york_3, new_york_2])
new_york.shape
new_york = new_york.apply(lambda x: x*1000 if x.name in ['value'] else x)
new_york.head()

,index,city,coordinates_latitude,coordinates_longitude,country,date_local,date_utc,location,parameter,unit,value
0,0,New York-Northern New Jersey-Long Island,40.641441,-74.208366,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Elizabeth Trailer,so2,ppm,0.0
1,1,New York-Northern New Jersey-Long Island,40.731689,-74.066566,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Jersey City,so2,ppm,1.0
2,2,New York-Northern New Jersey-Long Island,40.670250,-74.126083,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Bayonne,so2,ppm,0.0
3,3,New York-Northern New Jersey-Long Island,40.720989,-74.192894,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Newark Firehouse,so2,ppm,0.0
4,4,New York-Northern New Jersey-Long Island,40.787628,-74.676300,US,2020-03-30T19:00:00-05:00,2020-03-31T00:00:00.000Z,Chester,so2,ppm,0.0

In [15]:
# new_york['unit'] = data['unit'].str.replace('ppm', 'µg/m³')

## Concateneting

In [16]:
data = pd.concat([madrid_3,madrid_2, dheli_3, dheli_2, lisbon_3, lisbon_2, santiago_2, santiago_3, new_york])

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [17]:
data.shape

# data.loc[[city] == 'New York-Northern New Jersey-Long Island']

(30572, 11)

In [20]:
# # saving
data.to_csv('data/openaq_so2.csv')